<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
       
            <i style="font-size: 35px;" class='fas fa-shipping-fast'></i>
            <strong style="font-size: 30px; cursor: pointer;" routerLink="/products">Shop Mart</strong>
       
            <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Products" > 
            </div>
            <button class="btn btn-primary">Search</button> -->
        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">{{totaitemNumber}}</div>
        </button>
    </div>
</header>