<header>
    <div class="navbar navbar-dark  shadow-sm">
        <div class="navbar-brand align-item-center d-flex align-items-center">
            <img style="width: 50px;margin-left: 10px;margin-right: 10px;cursor: pointer;" routerLink="/products" src="https://cdn.pixabay.com/photo/2020/01/10/12/49/milk-4755234_640.jpg" alt="">
            <!-- <i  class='fas fa-shipping-fast'></i> -->
            <strong style="font-size: 30px; cursor: pointer;" routerLink="/products">Duudwale</strong>
       
            <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Products" > 
            </div>
            <button class="btn btn-primary">Search</button> -->
        </div>
        <button routerLink="cart" class="btn navbar">
            <i style="font-size: 30px; color: white;" class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">{{totaitemNumber}}</div>
        </button>
    </div>
    <div>
        <button  (click)="logOut()" class="btn btn-outline-primary" style="float: right;margin: 5px;">Log Out</button>
    </div>
</header>