<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Shop Mart Registration</h1>
                    <h5>Sign Up Here</h5><hr>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input formControlName="name" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label >Mobile</label>
                        <input formControlName="mobile" class="form-control" aria-describedby="emailHelp" placeholder="Enter Mobile">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input formControlName="email" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input formControlName="password" type="password" class="form-control"  placeholder="Password">
                    </div>
                    <button  style="margin-top: 15px;" type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <a routerLink="/login" href="">Have an Account? Login In</a>
            </div>
        </div>
    </div>
</div>